{
  "extends": [
    "airbnb-base",
    "airbnb/rules/react"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "react/prefer-stateless-function": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/jsx-props-no-spreading": 0,
    "react/state-in-constructor": "off",
    "react/destructuring-assignment": "warn",
    "react/no-unused-state": "warn",
    "react/button-has-type": "warn",
    "react/no-array-index-key": "warn",
    "react/sort-comp": "off",
    "import/prefer-default-export": "warn",
    "arrow-parens": 0,
    "no-nested-ternary": "off",
    "no-unused-vars": "warn",
    "no-unused-expressions": "warn",
    "space-before-function-paren": ["warn", "always"],
    "no-spaced-func": "off",
    "func-call-spacing": ["warn", "always"],
    "no-underscore-dangle": "off",
    "no-mixed-spaces-and-tabs": "error",
    "no-shadow": "warn",
    "max-len": ["warn", 150]
  },
  "env": {
    "browser": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "src", "src/components"]
      }
    }
  },
}
