@import url(//fonts.googleapis.com/css?family=Noto+Sans+KR:400,700&display=swap&subset=korean);

.quill-zabo-viewer {
  .ql-editor {
    padding: 0;
    font-size: 1.25em;
    font-family:  Helvetica, 'Noto Sans KR', 'NanumSquare', 'Malgun Gothic', 'Dotum', Arial, sans-serif;
  }
}