#root {
  box-sizing: border-box !important;
  border: none !important;
  width: 100% !important;
  margin: 0 !important;
  height: 90vh !important;
  overflow: scroll !important;
  header {
    width: 100% !important;
    margin: 0 !important;
    position: fixed !important;
  }
  margin-top: 70px !important;
}
